{% extends 'general_layout.html' %}

{% block content %}
<section style="text-align: center; margin-top: 50px;">
    <img src="static/404.jpg" alt="404 Error Image" style="width: 300px; height: auto; margin-bottom: 50px;">
    <h1 style="margin-bottom: 20px;">Oops! Page Not Found</h1>
    <p style="margin-bottom: 20px;">We seem to have reached a roadblock...</p>
    <p style="margin-bottom: 20px;">Don't worry, let's get you back on track:</p>
    <ul style="list-style: none; padding: 0; margin-top: 30px;">
        <li><a href="/">Home</a></li>
    </ul>
</section>
{% endblock %}