{% extends 'general_layout.html' %}

{% block content %}
<section class="header">
    <h1>Edit Project</h1>
</section>

<section id="form">
    <form id="project-form" method="POST" action="{{ url_for('edit_project', id=project.id) }}">
    {{ form.csrf_token }}
        <label for="title">Project Title:</label>
        {{ form.title(class="form-control", value=project.title, placeholder="Project Name") }}
        {% if form.title.errors %}
        <div class="error-message">
            {% for error in form.title.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% if repeat_project_error %}
        <div class="error-message">
            <p>{{ repeat_project_error }}</p>
        </div>
        {% endif %}

        <label for="date">Completion Date:</label>
        <div id="date-input-container" style="position: relative;">
            {{ form.date(class="form-control", value=project.date.strftime('%Y-%m-%d'), placeholder="A valid date.") }}
            {% if form.date.errors %}
            <div class="error-message">
                {% for error in form.date.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% if date_format_error %}
            <div class="error-message">
                <p>{{ date_format_error }}</p>
            </div>
            {% endif %}
        </div>


        <label for="description">Description:</label>
        {{ form.description(class="form-control", value=project.description, placeholder="Description") }}

        <label for="skills">Skills:</label>
        {{ form.skills(class="form-control", value=project.skills, placeholder="Skills") }}

        <label for="github_link">GitHub Link:</label>
        {{ form.github_link(class="form-control", value=project.github_link, placeholder="GitHub Link") }}

        <div>
            <a href="#" onclick="cancelEdit(event)" class="btn btn-secondary hover-effect">Cancel</a>
            <button type="submit" class="btn btn-project-submit hover-effect">Save Changes</button>
        </div>
    </form>
</section>

<script>
    function cancelEdit(event) {
        event.preventDefault();
        window.history.back();
    }
</script>
{% endblock %}
