{% extends 'general_layout.html' %}

{% block content %}
<section class="header">
    <h1>Python Developer</h1>
    <p>An aspiring female software engineer who is trying best to learn and improve.</p>
    <img src="static/photo.jpeg" alt="Headshot of myself">
</section>
<section id="about">
    <h2>About Me</h2>
    <p>
        Hey Friends, my name is Louise Liu, and I'm passionate about software engineering.
        I tried to learn programming here and there until I met TeamTreeHouse.
        After I registered the free trial of TeamTreeHouse Python TechDegree, I received an email with this below title upon open:</p>

        <p style="color: pink";>Hey Louise, can you picture yourself as a Python Developer?
         We can."</p>

        <p>Even though it's an advertisement/promotion, I was deeply touched by this sentence.
        I have been keep learning the related knowledge, but have I really thought about I can actually do it?</p>

        <p>As I immersed myself in the course, I didn't just learn Python syntax;
        I crafted scripts and tackled projects that once seemed out of reach.
        With each line of code, I felt a sense of accomplishment, a tangible proof of progress.
        And even as a non-native English speaker, the clarity of instruction made the learning journey smoother. With each "WOW!" moment, my confidence grew.
        I realized that software development wasn't just for the chosen few; it was for the ones who are willing to put in the effort.
        And as I continued to learn and grow, I began to picture myself as a Python Developer :)</p>

        <p>The journey will not be easy, but I will not give up.
        Keep learning and keep pushing forward!</p>
    </p>
    <div id="triangle1"></div>
    <div id="triangle2"></div>
</section>

<section id="skills">
    <i class="fas fa-laptop-code"></i>
    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>SQLAlchemy</li>
        <li>GitHub</li>
        <li>Visual Studio Code</li>
    </ul>
</section>

<section id="contact">
    <i class="fas fa-paper-plane"></i>
    <h2>Contact Me</h2>
    <p>
        I'm building my personal website and before that, I'm reachable via this Gmail.

    </p>
    <p>
        <i class="fas fa-envelope"></i>
        louiseliunow@gmail.com
    </p>
</section>
{% endblock %}