{% extends 'general_layout.html' %}

{% block content %}
<section class="header">
    <h3>{{ project.title }}</h3>
    <div style="margin-bottom: 20px;"></div>

    <h5>Completion/Update Date: {{ project.date.strftime('%Y-%m-%d') }}</h5>
    <h1></h1>

    <h4 style="color: #ab6c82; font-weight: bold; max-width: 600px; text-align: center; margin: 0 auto;">Description</h4>
    <p style="line-height: 1.6; color: #51475c; margin-bottom: 20px; max-width: 600px; text-align: center; margin: 0 auto;">{{ project.description }}</p>
    <h1></h1>

    <h4 style="color: #ab6c82; font-weight: bold; max-width: 600px; text-align: center; margin: 0 auto;">Skills</h4>
    <p style="line-height: 1.6; color: #51475c; margin-bottom: 20px; max-width: 600px; text-align: center; margin: 0 auto;">{{ project.skills }}</p>

    <div class="button-group mt-5">
        <a href="{{ project.github_link }}" class="btn btn-primary me-2">
            <i class="fab fa-github"></i> View on GitHub
        </a>
        <a href="/projects/edit/{{ project.id }}" class="btn btn-primary me-2">Edit</a>
        <form id="delete-form" method="POST" action="{{ url_for('delete_project', id=project.id) }}">
            {{ csrf_token }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <div style="margin-bottom: 100px;"></div>
</section>
{% endblock %}
